<nav class="navbar navbar-expand-sm navbar-dark bg-danger">
  <div class="container">
    <a href="/" class="navbar-brand">YouTube Ideas</a>
    <button
     type="button" 
     class="navbar-toggler"
     data-toggle="collapse"
     data-target="#navbarMain"
     aria-controls="navbarMain"
     aria-expanded="false"
     aria-label="ToggleNavigation"
     ><span class="navbar-toggler-icon"></span></button>
     <div class="collapse navbar-collapse" id="navbarMain">
       <ul class="navbar-nav mr-auto">
         <li class="nav-item">
           <a href="/" class="nav-link">Home</a>
         </li>
         <li class="nav-item">
           <a href="/about" class="nav-link">About</a>
         </li>
       </ul>
       <ul class="navbar-nav ml-auto">
         {{#if user}}
         <li class="nav-item">
           <a href="#" class="nav-link">{{user.email}}</a>
         </li>
         <li class="nav-item dropdown">
           <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" id="navbarDropdownMenuLink">Video Ideas</a>
           <div class="dropdown-menu">
             <a href="/ideas" class="dropdown-item">Ideas</a>
             <a href="/ideas/add" class="dropdown-item">Add Idea</a>
           </div>
         </li>
         <li class="nav-item">
           <a href="/users/logout" class="nav-link">Logout</a>
         </li>
         {{else}}
          <li class="nav-item">
           <a href="/users/login" class="nav-link">Login</a>
          </li>
          <li class="nav-item">
           <a href="/users/register" class="nav-link">Register</a>
          </li>
         {{/if}}
       </ul>
     </div>
  </div>
</nav>