<h2>About YouTube Video Idea</h2>
<p class="lead">This is a web application with Node & Express and with authentication strategy implemented. This app lets you jot down your creative ideas for your next <i class="fab fa-youtube" style="color: #ff0000;"></i>YouTube video on your channel. Its an open source app, any developer idea can give in to the robust development of this app</p>
<p>Version 1.0.2</p>
<p><span class="text-primary display-4">Developers</span> <br> Find below the list of developer who brought into the development of this app</p>