<div class="jumbotron text-center">
  <h2 class="display-4">Welcome</h2>
  <p class="lead">This app lets you jot down your ideas for the next <i class="fab fa-youtube"></i> youtube video on your youtube channel</p>
  <a href="/ideas/add" class="btn btn-primary btn-sm">Add Video Idea</a>
</div>