<div class="showcase">
  <img src="/img/youtube-mac.jpg" alt="Statistics">
  <div class="content">
    <h1 class="text-danger">Let's bring your idea to life</h1>
    <p class="text-dark lead">The power of <i class="fab fa-youtube" style="color: #ff0000;"></i> youtube bring over 1.5 billions user ideas to life and is the universal second largest search engine </p>
    <a href="/about" class="btn btn-primary btn-sm mt-4">Read More</a>
  </div>
</div>

<div class="jumbotron text-center">
  <h2 class="display-4">Welcome</h2>
  <p class="lead">This app lets you jot down your ideas for the next <i class="fab fa-youtube" style="color: #ff0000;"></i> youtube video on your youtube channel</p>
  <a href="/ideas/add" class="btn btn-dark btn-sm">Add Video Idea</a>
</div>